{{! javascripts/discourse/connectors/topic-navigation/custom-blocks.hbs }}

<script type="text/x-handlebars" data-template-name="connectors/topic-after-main-content/custom-blocks">
  {{#each this.blocksToDisplay as |block|}}
    <div class="custom-block">
      <a
        href="{{block.content}}"
        {{on "click" (fn this.handleBlockClick block.placementID block.campaignID)}}
      >
        {{{block.content}}}
      </a>
    </div>
  {{/each}}
</script>
