{{! javascripts/discourse/connectors/topic-navigation/custom-blocks.hbs }}

  {{#each this.blocksToDisplay as |block|}}
    <div class="custom-block" {{on "click" (fn this.handleBlockClick block.content block.placementID block.campaignID)}}>
      {{{block.content}}}
    </div>
  {{/each}}
