{{! javascripts/discourse/connectors/topic-navigation/custom-blocks.hbs }}
<div class="custom-topic-banner">
  {{#each this.blocksToDisplay as |block|}}
    <div {{on "click" (this.handleBlockClick block)}}></div>
      {{html-safe block.content}}
    </div>
  {{/each}}
</div>
