.custom-topic-banner {
  display: none;
}

@media screen and (min-width: 925px) {
  .custom-topic-banner {
    box-shadow: 0.125em 0.5em 2em 0.1875em rgba(0, 0, 0, 0.8);
    width: 100%;
    display: block;
  }

  .custom-topic-banner img {
    max-width: 250px;
    height: auto;
    display: block;
  }
}
